body {
  color: #40541E;
  margin: 0px; 
  text-align: center;
  font-family: 'Merriweather', sans-serif;
}

hr {
  border-style: dotted none none;
  color: #EAF6F6;
  width: 4%;
  border-width: 5px;
  margin: 100px auto 100px auto;
}

h1 {
  margin: 60px auto 0 auto;
  font-family: 'Sacramento', serif;
  font-size: 5.625rem;
  color: #66BFBF; 
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem; 
  color: #66BFBF;
  margin-top: 15px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 10px;
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 50px;
  height: 50px;
  padding: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.copyright {
  color: #EAF6F6;
  margin-top: 30px;
}

img.top-cloud {
  position: absolute;
  left: 850px;
  top: 20px;
}

img.bottom-cloud {
  position: absolute;
  left: 235px;
  top: 150px;
}

img.profile-icon {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  background-color: #30E3CA;
  border-radius: 150px; 
}

img.writing-icon {
  width: 25%; 
 background-color: #30E3CA;
  border-radius: 90px;
  padding: 10px;
  float: left;
  margin-right: 30px;
}

img.chat-icon {
  width: 25%;
background-color: #30E3CA;
  border-radius: 90px;
  padding: 10px;
  float: right;
  margin-left: 30px;
}

a {
  color: #11999E;
  text-decoration: none;
  margin: 15px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background:  #30e3cb;
  background-image: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
  text-decoration: none;
}


